/* bottomBaner.css */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.rowContainer {
    display: flex;
    justify-content: space-around;
}

.rowContainer p {
    margin: 0;
}
