body {
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: #e4dfdf;
    
    /* Kolor tła strony */
}

.register-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 23%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {

    margin-left: 60px;
    padding: 8px;
    margin-bottom: 10px;
}

button {
   
    padding: 10px;

}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-right: 60px;
}

.icon{
    width: auto;
    height: 100%;
}



button:hover {
    background-color: #0056b3;
}

.social-register {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-register button {
    margin-left: 60px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3b5998;
    /* Facebook */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
}

.social-register img {
    margin-right: 10px;
    max-height: 20px;
}

.social-register button:nth-child(2) {
    background-color: #7e97be;
    /* Google */
}

.social-register button:nth-child(3) {
    background-color: #d85454;
    /* Apple */
}

.social-register button:hover {
    opacity: 0.8;
}