
.App-header {
    background: linear-gradient(to right, #0D2C3F, #284B63);
    color: #D9D9D9;
    padding: 15px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.SBContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.SBLogo {
    height: auto;
    width: 80%;
    max-width: 200px;
}

.MainLink {
    text-decoration: none;
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

.header-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.add-listing-btn {
    padding: 10px;
    background-color: #D9D9D9;
    color: #353535;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    margin: 5px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.add-listing-btn:hover {
    background-color: #353535;
    color: white;
}

.icons-group {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #D9D9D9;
}

.icon img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-text {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
}

body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .MainLink {
        width: 100%;
        margin-top: 10px;
    }

    .icons-group {
        margin-top: 10px;
        justify-content: flex-end;
        width: 100%;
    }

    .icon {
        margin: 5px;
    }
}